@import "utilities/_reset-src";
@import "utilities/_variables";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@import "_header";
@import "_main";

.link {
   text-decoration: none;
   background-color: white;
   padding: 0;
   border: 0;
   cursor: pointer;
}
