@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "_reset-src";
@import "_img-logo";

$nav-text: #4d4959;
$title-text: #353738;
$text: #848789;
$pale-teal: #64c29e;
$mobile: 940px;
$desktop: 1400px;

/* Стилизация элементов гридов */
.info-img {
   display: block;
   object-fit: cover;
}

.info {
   min-height: 410px;
   @media (max-width: $mobile) {
      padding: 70px 35px 45px 35px;
   }
   @media (min-width: $mobile + 1) {
      padding: 70px 68px 45px 68px;
   }

   .info-img {
      margin: 0 auto 31px auto;
      &__0 {
         width: 52px;
         height: 43px;
      }
      &__1 {
         width: 41px;
         height: 30px;
      }
      &__2 {
         width: 32px;
         height: 32px;
      }
      &__3 {
         width: 23px;
         height: 41px;
      }
   }
   .info__title {
      text-transform: uppercase;
      font-family: Lato;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 3.6px;
      text-align: center;
      color: $title-text;

      margin-bottom: 26px;
   }
   .info__text {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: justify;
      color: $text;
   }

   &__0 {
      min-height: 300px;
      background-color: #f7f7f7;
      .info__text {
         text-align: center;
      }
   }
}

.img {
   position: relative;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;

   /* WHY THE HECK  FIREFOX DO NOT SUPPORT IMAGE-SET??? */
   &-big {
      &__1 {
         background-image: url("../img/img-big__01.png");
         background-image: image-set(
            url("../img/img-big__01.png") 1x,
            url("../img/img-big__01@2x.png") 2x,
            url("../img/img-big__01@3x.png") 3x
         );
         &:after {
            @include img-logo;
            background-image: url("../img/img-big-logo__01.png");
            background-image: image-set(
               url("../img/img-big-logo__01.png") 1x,
               url("../img/img-big-logo__01@2x.png") 2x,
               url("../img/img-big-logo__01@3x.png") 3x
            );
            width: 113px;
            height: 118px;
         }
      }
      &__2 {
         background-image: url("../img/img-big__02.png");
         background-image: image-set(
            url("../img/img-big__02.png") 1x,
            url("../img/img-big__02@2x.png") 2x,
            url("../img/img-big__02@3x.png") 3x
         );
         &:after {
            @include img-logo;
            background-image: url("../img/img-big-logo__02.png");
            background-image: image-set(
               url("../img/img-big-logo__02.png") 1x,
               url("../img/img-big-logo__02@2x.png") 2x,
               url("../img/img-big-logo__02@3x.png") 3x
            );
            width: 177px;
            height: 152px;
         }
      }
   }
   &-medium {
      &__1 {
         background-image: url("../img/img-medium__01.png");
         background-image: image-set(
            url("../img/img-medium__01.png") 1x,
            url("../img/img-medium__01@2x.png") 2x,
            url("../img/img-medium__01@3x.png") 3x
         );
         &:after {
            @include img-logo;
            background-image: url("../img/img-medium-logo__01.png");
            background-image: image-set(
               url("../img/img-medium-logo__01.png") 1x,
               url("../img/img-medium-logo__01@2x.png") 2x,
               url("../img/img-medium-logo__01@3x.png") 3x
            );
            width: 208px;
            height: 67px;
         }
      }
      &__2 {
         background-image: url("../img/img-medium__02.png");
         background-image: image-set(
            url("../img/img-medium__02.png") 1x,
            url("../img/img-medium__02@2x.png") 2x,
            url("../img/img-medium__02@3x.png") 3x
         );
      }
   }
   &-small {
      &__1 {
         background-image: url("../img/img-small__01.png");
         background-image: image-set(
            url("../img/img-small__01.png") 1x,
            url("../img/img-small__01@2x.png") 2x,
            url("../img/img-small__01@3x.png") 3x
         );
      }
      &__2 {
         background-image: url("../img/img-small__02.png");
         background-image: image-set(
            url("../img/img-small__02.png") 1x,
            url("../img/img-small__02@2x.png") 2x,
            url("../img/img-small__02@3x.png") 3x
         );
      }
      &__3 {
         background-image: url("../img/img-small__03.png");
         background-image: image-set(
            url("../img/img-small__03.png") 1x,
            url("../img/img-small__03@2x.png") 2x,
            url("../img/img-small__03@3x.png") 3x
         );
      }
   }
}

/* Стилизация гридов */
.grid {
   display: grid;
   transition: ease all 0.5s;

   @media (max-width: $mobile) {
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
         "img-big__1 img-big__1"
         "info__1 info__1"
         "img-medium__1 img-medium__2"
         "info__2 info__2"
         "img-big__2 img-big__2"
         "info__3 info__3";
   }

   @media (min-width: $mobile + 1) and (max-width: $desktop - 1) {
      grid-template-rows: repeat(3, 410px 200px);
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
         "img-big__1 img-big__1 img-big__1 info__1 info__1 info__1"
         "img-big__1 img-big__1 img-big__1 img-small__1 img-small__1 img-small__1"
         "info__2 info__2 info__2 img-big__2 img-big__2 img-big__2"
         "img-small__2 img-small__2 img-small__2 img-big__2 img-big__2 img-big__2"
         "img-medium__1 img-medium__1 info__3 info__3 img-medium__2 img-medium__2"
         "img-medium__1 img-medium__1 info__3 info__3 img-medium__2 img-medium__2";
   }

   @media (min-width: $desktop) {
      grid-template-rows: repeat(3, 410px 200px);
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
         "img-big__1 img-big__1 info__1"
         "img-big__1 img-big__1 img-small__1"
         "info__2 img-big__2 img-big__2"
         "img-small__2 img-big__2 img-big__2"
         "img-medium__1 info__3 img-medium__2"
         "img-medium__1 img-small__3 img-medium__2";
   }

   .info {
      &__1 {
         grid-area: info__1;
      }
      &__2 {
         grid-area: info__2;
      }
      &__3 {
         grid-area: info__3;
      }
   }
   .img {
      &-big {
         &__1 {
            grid-area: img-big__1;
         }
         &__2 {
            grid-area: img-big__2;
         }
      }

      &-medium {
         &__1 {
            grid-area: img-medium__1;
         }
         &__2 {
            grid-area: img-medium__2;
         }
      }

      &-small {
         &__1 {
            grid-area: img-small__1;
         }
         &__2 {
            grid-area: img-small__2;
         }
         &__3 {
            grid-area: img-small__3;
         }
      }
   }
}
